services:
  backend:
    image: backend:latest
    container_name: backend
    ports:
      - "8000:8000" 
    env_file:
      - ./backend/.env
    command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
  frontend:
      image: frontend:latest
      container_name: frontend
      ports:
        - "5173:5173" 
      depends_on:
        - backend
      command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
      env_file:
        - ./frontend/.env